<p><strong>Title:</strong> <%= @topic.title %></p>
<p><strong>Description:</strong> <%= @topic.description %></p>
<p><strong>Tags:</strong> 
<% @topic.tags.all.each do |tag| %>
  <%= tag.name %>,  
<% end %>
</p>
<% @topic.suggestions.each do |suggestion| %>

  <div class="well">
  <p>Suggestion Title: <%= suggestion.title %></p>
  <p>Added by: <%= link_to suggestion.user.name, user_path(suggestion.user) %></p>
  <p>URL: <%= suggestion.url %></p>
  <p>Description: <%= suggestion.description %></p>
  <p>Upvotes: <span id="upvotecountspan<%=suggestion.id%>"><%= suggestion.upvotes.count %></span></p>
  <input type="button" value="Upvote" class="upvote" data-suggestion-id="<%= suggestion.id %>">
  </div>
<% end %>

<h2>Add a New Suggestion</h2>
<form method="post" action="/suggestions">
  <label for="suggestion_url">Suggestion URL</label>
  <input id="suggestion_url" type="text" name="suggestion[url]"><br>
  <label for="suggestion_description">Description</label>
  <textarea id="suggestion_description" name="suggestion[description]"></textarea>
  <input name="suggestion[topic_id]" type="hidden" value="<%= @topic.id %>" >
  <input name="suggestion[user_id]" type="hidden" value="<%= session["user_id"] %>" >
  <input type="submit" value="Add Suggestion">
</form>

