<h1><%= @user.name %> </h1>

<h3><%= @user.name %>'s Topics</h3>
<% @user.topics.each do |topic| %>
  <div class="well">
  <p>Topic Title: <%= link_to topic.title, topic_path(topic) %></p>
  <% if !topic.tags.empty? %>
  <p>Topic Tags: <% topic.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>,
    <% end %>
  <% end %></p> 
  <p>Total upvotes for topic:
    <% total = 0 %> 
    <% topic.suggestions.each do |suggestion| %>
     <% total += suggestion.upvotes.count %>
     <% end %>
     <%= total %></p>
  </div>
  <% end %>


<h3><%= @user.name %>'s Suggestions</h3>
  <% @sorted_suggestions.each do |suggestion| %>
  <div class="well">
    <p><strong>Suggestion Title: <%= suggestion.title %></strong></p>
    <p>For Post called: <%= link_to suggestion.topic.title, topic_path(suggestion.topic) %></p>
    <p>Suggestion URL: <%= suggestion.url %></p>
    <p>Suggestion Upvotes: <%= suggestion.upvotes.count %></p>
    </div>
  <% end %>