<h1><strong>Name:</strong> <%= @user.name %> </h1>

<h3><strong>Topics written by <%= @user.name %>:</strong></h3>
<% @user.topics.each do |topic| %>

  <div class="well">
  <p>Topic Title: <%= link_to topic.title, topic_path(topic) %></p>
  <p>Suggestions for <%= topic.title %>: <% topic.suggestions.each do |suggestion| %></p>
    <p>Suggestion Title: <%= suggestion.title %></p>
    <p>Suggestion URL: <%= suggestion.url %></p>
    <p>Suggestion Upvotes: <%= suggestion.upvotes.count %></p>
  <% end %>
  </div>
<% end %>


<h3><strong>Suggestions added by <%= @user.name %>:</strong></h3>
  <% @user.suggestions.each do |suggestion| %>
  <div class="well">
    <p><strong>Suggestion Title: <%= suggestion.title %></strong></p>
    <p>For Post called: <%= link_to suggestion.topic.title, topic_path(suggestion.topic) %></p>
    <p>Suggestion URL: <%= suggestion.url %></p>
    <p>Suggestion Upvotes: <%= suggestion.upvotes.count %></p>
    </div>
  <% end %>