<p><strong>Title:</strong> <%= @concern.title %></p>
<p><strong>Description:</strong> <%= @concern.description %></p>
<% @concern.responses.each do |response| %>
<p>Response Title: <%= response.title %></p>
<p>URL: <%= response.url %></p>
<p>Upvotes: <%= response.upvotes.count %></p>
<% end %>
